In [ ]:
import pandas as pd

/home/daniel/SIC/empleabilidad-jovenes-VE/project/lib/python3.11/site-packages/numpy/_core/getlimits.py:548: UserWarning: Signature b'\x00\xd0\xcc\xcc\xcc\xcc\xcc\xcc\xfb\xbf\x00\x00\x00\x00\x00\x00' for <class 'numpy.longdouble'> does not match any known type: falling back to type probe function.
This warnings indicates broken support for the dtype!
  machar = _get_machar(dtype)

In [6]:
education_csv = '../data/raw/educacion.csv'
education = pd.read_csv(education_csv)
education

/tmp/ipykernel_12647/853445664.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  education = pd.read_csv(education_csv)

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Afghanistan,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Total,Age (Youth bands): 15-29,Education (Aggregate levels): Total,2021,3519.290,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Afghanistan,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Total,Age (Youth bands): 15-29,Education (Aggregate levels): Less than basic,2021,1493.012,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Afghanistan,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Total,Age (Youth bands): 15-29,Education (Aggregate levels): Basic,2021,895.421,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Afghanistan,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Total,Age (Youth bands): 15-29,Education (Aggregate levels): Intermediate,2021,789.899,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Afghanistan,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Total,Age (Youth bands): 15-29,Education (Aggregate levels): Advanced,2021,270.737,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...,...
131940,Zimbabwe,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Female,Age (Youth bands): 25-29,Education (Aggregate levels): Less than basic,2011,4.036,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
131941,Zimbabwe,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Female,Age (Youth bands): 25-29,Education (Aggregate levels): Basic,2011,353.325,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
131942,Zimbabwe,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Female,Age (Youth bands): 25-29,Education (Aggregate levels): Intermediate,2011,11.631,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
131943,Zimbabwe,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Female,Age (Youth bands): 25-29,Education (Aggregate levels): Advanced,2011,54.691,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
131944,Zimbabwe,LFS - Labour Force Survey,"Youth labour force by sex, age and education (...",Sex: Female,Age (Youth bands): 25-29,Education (Aggregate levels): Level not stated,2011,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

In [7]:
label = education['indicator.label'].unique()[0].lower().replace('/','-').replace(' ', '_')
label

'youth_labour_force_by_sex,_age_and_education_(thousands)'

In [8]:
# Select Venezuela data
education_vnzla = education[education['ref_area.label'].str.contains('Venezuela')]
education_vnzla = education_vnzla[['sex.label', 'classif1.label', 'classif2.label', 'time', 'obs_value']]

# Clean column names
education_vnzla.columns = ['sex', 'age_group', 'education_level', 'time', 'obs_values']

# Clean sex and age_group columns
education_vnzla['sex'] = education_vnzla['sex'].str.replace('Sex: ', '')
education_vnzla['age_group'] = education_vnzla['age_group'].str.replace('Age (Youth bands): ', '')
education_vnzla['education_level'] = education_vnzla['education_level'].str.replace('Education (Aggregate levels): ', '')

# Add total columns
education_vnzla['is_sex_group_total'] = education_vnzla['sex'] == 'Total'
education_vnzla['is_education_level_group_total'] = education_vnzla['education_level'] == 'Total'
education_vnzla['is_overall_total'] = (education_vnzla['sex'] == 'Total') & (education_vnzla['education_level'] == 'Total')

# Reset the index
education_vnzla.reset_index(drop=True, inplace=True)

# Save the cleaned DataFrame to a new CSV file
education_vnzla.to_csv(f'../data/processed/cleanned_{label}.csv', index=False)

In [75]:
cleanned_education_csv = f'../data/processed/cleanned_{label}.csv'
education_vnzla = pd.read_csv(cleanned_education_csv)
education_vnzla

,sex,age_group,education_level,time,obs_values,is_sex_group_total,is_education_level_group_total,is_overall_total
0,Total,15-29,Total,2017,4263.983,True,True,True
1,Total,15-29,Less than basic,2017,44.295,True,False,False
2,Total,15-29,Basic,2017,1093.875,True,False,False
3,Total,15-29,Intermediate,2017,1611.928,True,False,False
4,Total,15-29,Advanced,2017,1508.481,True,False,False
...,...,...,...,...,...,...,...,...
640,Female,25-29,Less than basic,2005,7.311,False,False,False
641,Female,25-29,Basic,2005,408.900,False,False,False
642,Female,25-29,Intermediate,2005,NaN,False,False,False
643,Female,25-29,Advanced,2005,260.172,False,False,False
644,Female,25-29,Level not stated,2005,1.578,False,False,False